In [2]:
#Dependencies
import pandas as pd
import csv

In [173]:
#load files
schools_data = "Resources/schools_complete.csv"
students_data = "Resources/students_complete.csv"

#create DataFrames
school_data = pd.read_csv(schools_data)
student_data = pd.read_csv(students_data)

In [174]:
#check data loaded correctly
school_data.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [175]:
#check data loaded correctly
student_data.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [176]:
#merge the 2 dataframes into one combined dataframe
school_student_complete_data = pd.merge(school_data_df, student_data_df, on=["school_name"])
school_student_complete_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,year,reading_score,maths_score
0,0,Huang High School,Government,2917,1910635,0,Paul Bradley,M,9,96,94
1,0,Huang High School,Government,2917,1910635,1,Victor Smith,M,12,90,43
2,0,Huang High School,Government,2917,1910635,2,Kevin Rodriguez,M,12,41,76
3,0,Huang High School,Government,2917,1910635,3,Richard Scott,M,12,89,86
4,0,Huang High School,Government,2917,1910635,4,Bonnie Ray,F,9,87,69

Local Government Area (LGA) Summary

Total number of unique schools
Total students
Total budget
Average maths score
Average reading score
% passing maths (the percentage of students who passed maths)
% passing reading (the percentage of students who passed reading)
% overall passing (the percentage of students who passed maths AND reading)

In [177]:
#find the total number of unique schools
unique_schools = school_data["school_name"].count()
print(unique_schools)

15

In [178]:
#find the total number of students
total_students = school_student_complete_data["student_name"].count()
print(total_students)

39170

In [179]:
#find the total budget of all schools
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [180]:
#find the average math scores
avg_math_scores = school_student_complete_data["maths_score"].mean()
print(avg_math_scores)

70.33819249425581

In [181]:
#find the average reading scores
avg_reading_scores = school_student_complete_data["reading_score"].mean()
print(avg_reading_scores)

69.98013786060761

In [182]:
#find the percentage of students who passed maths
math_pass = school_student_complete_data.loc[school_student_complete_data["maths_score"] >=50]
percent_math_pass = len(math_pass)/total_students * 100
print(percent_math_pass)

86.07863160582077

In [183]:
#find the percentage of students who passed reading
reading_pass = school_student_complete_data.loc[school_student_complete_data["reading_score"] >=50]
percent_reading_pass = len(reading_pass)/total_students * 100
print(percent_reading_pass)

84.42685728874139

In [184]:
#find the percentage of students who passed both maths and reading 
#pass grade is 50 or higher
math_reading_pass =school_student_complete_data[(school_student_complete_data["maths_score"] >=50) 
& (school_student_complete_data["reading_score"] >=50)] 

math_reading_pass_students = math_reading_pass["student_name"].count()

overall_pass_percent = math_reading_pass_students / total_students *100
overall_pass_percent

72.80827163645647

In [187]:
LGA_Summary_df = pd.DataFrame([{"Total Schools": unique_schools,"Total Students": total_students,"Total Budget": total_budget,
                    "Average Maths Score": avg_math_scores,"Average Reading Scores": avg_reading_scores, "% Passing Maths": percent_math_pass,
                    "% Passing Reading": percent_reading_pass, "% Overall Passing": overall_pass_percent}])

LGA_Summary_df["Total Budget"] = LGA_Summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
LGA_Summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Scores,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

School Summary

School name
School type
Total students
Total school budget
Per student budget
Average maths score
Average reading score
% passing maths (the percentage of students who passed maths)
% passing reading (the percentage of students who passed reading)
% overall passing (the percentage of students who passed maths AND reading)

In [188]:
#school names
#school_name = school_data_df(["school_name"][]
#school_name

In [189]:
#school type
school_type = school_data_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object

In [190]:
#total students
school_students = school_student_complete_data["school_name"].value_counts()
school_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [193]:
#Total school budget
school_budget = school_student_complete_data.groupby(["school_name"])["budget"].mean()
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [194]:
#per student budget
per_student_budget = school_budget / school_students
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [195]:
#average math score
math_scores_per_school = school_student_complete_data.groupby(["school_name"])["maths_score"].mean()
math_scores_per_school

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [196]:
#average reading score
reading_scores_per_school = school_student_complete_data.groupby(["school_name"])["reading_score"].mean()
reading_scores_per_school

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [198]:
#% passing maths (the percentage of students who passed maths >50)
math_pass_per_school = school_student_complete_data[(school_student_complete_data["maths_score"]>=50)]
math_pass_percent_per_school = math_pass_per_school.groupby(["school_name"])["maths_score"].count() / school_students * 100 
math_pass_percent_per_school

Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [199]:
#% passing reading (the percentage of students who passed reading >50)
reading_pass_per_school = school_student_complete_data[(school_student_complete_data["reading_score"]>=50)]
reading_pass_percent_per_school = reading_pass_per_school.groupby(["school_name"])["reading_score"].count() / school_students * 100 
reading_pass_percent_per_school

Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [200]:
#% overall passing (the percentage of students who passed maths AND reading >50)
math_reading_pass_percent_per_school =school_student_complete_data[(school_student_complete_data["maths_score"]>=50)
& (school_student_complete_data["reading_score"]>=50)]

math_reading_pass_percent_per_school =math_reading_pass_percent_per_school.groupby(["school_name"])["student_name"].count()

overall_pass_percent_per_school = math_reading_pass_percent_per_school / school_students * 100
overall_pass_percent_per_school

Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [205]:
School_Summary_df = pd.DataFrame({"School Type": school_type,"Total Students": school_students,
                    "Total Budget": school_budget,"Per Student Budget": per_student_budget, "Average Maths Score": math_scores_per_school, 
                    "Average Reading Score": reading_scores_per_school, "% Passing Maths": math_pass_percent_per_school,
                    "% Passing Reading": reading_pass_percent_per_school, "% Overall Passing": overall_pass_percent_per_school})

School_Summary_df["Total Budget"] = School_Summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
School_Summary_df["Per Student Budget"] = School_Summary_df["Per Student Budget"].astype(float).map("${:,.2f}".format)
School_Summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222