In [2]:
#Dependencies
import pandas as pd
import csv

In [4]:
#load files
schools_data = "Resources/schools_complete.csv"
students_data = "Resources/students_complete.csv"

#create DataFrames
school_data_df = pd.read_csv(schools_data)
student_data_df = pd.read_csv(students_data)

In [5]:
#check data loaded correctly
school_data_df.head()

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [6]:
#check data loaded correctly
student_data_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [7]:
#merge the 2 dataframes into one combined dataframe
school_student_complete_data_df = pd.merge(school_data_df, student_data_df, on=["school_name"])
school_student_complete_data_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,year,reading_score,maths_score
0,0,Huang High School,Government,2917,1910635,0,Paul Bradley,M,9,96,94
1,0,Huang High School,Government,2917,1910635,1,Victor Smith,M,12,90,43
2,0,Huang High School,Government,2917,1910635,2,Kevin Rodriguez,M,12,41,76
3,0,Huang High School,Government,2917,1910635,3,Richard Scott,M,12,89,86
4,0,Huang High School,Government,2917,1910635,4,Bonnie Ray,F,9,87,69

In [24]:
#find the total number of unique schools
unique_schools = school_data_df["school_name"].count()
print(unique_schools)

15

In [27]:
#find the total number of students
total_students = school_student_complete_data_df["student_name"].count()
print(total_students)

39170

In [28]:
#find the total budget of all schools
total_budget = school_data_df["budget"].sum()
print(total_budget)

24649428

In [ ]:
#find the average math scores

In [ ]:
#find the average reading scores

In [ ]:
#find the percentage of students who passed maths

In [ ]:
#find the percentage of students who passed reading

In [ ]:
#find the percentage of students who passed both maths and reading 
#pass grade is 50 or higher